:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(250, 251, 252);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, .7);
  height: 64px;
  /* border: 1px dashed black; */
  position: fixed;
  width: 100vw;
  /* opacity: 0.7; */
  font-size: 14px;
  border-bottom: 1px solid rgb(218, 219, 219);
}

header>nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px dashed blue; */
  height: 100%;
}

header ul {
  padding-left: 20px;
}

header img {
  vertical-align: middle;
}

header li {
  display: inline;
  /* border: 1px dashed red; */
}

header li+li {
  padding-right: 1rem;
}

header a {
  align-self: center;
}

.spacer {
  width: 100vw;
  height: 104px;
}

a {
  text-decoration: none;
  color: rgb(21, 21, 21);
}

.octodex {
  font-weight: bold;
  font-size: 1rem;
}

.back-to-github {
  display: none;
  padding-left: .5rem;
}

.right-nav {
  padding-right: 1rem;
  color: black;
}

main img {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
  /* margin-left: 20px;
  margin-right: 20px; */
}

article {
  display: flex;
  flex-direction: column;
  /* border: 1px dashed green; */
}

article>a img {
  display: block;
  width: 92%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

article ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  list-style: none;
  /* border: 1px dashed black; */
  padding-left: 0px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

article li img {
  /* border: 1px dashed blue; */
  border-radius: 3px;
  margin-left: 0px;
}

article li {
  /* border: 1px dashed red; */
  color: rgb(99, 108, 116);
}

section {
  display: grid;
  grid-template-columns: 1fr;
}

section article {
  width: 100%;
}

footer {
  border-top: 1px solid rgb(229, 232, 235);
  margin-left: 20px;
  margin-right: 20px;
  /* border: 1px dashed blue; */
}

footer div {
  padding-top: 16px;
  padding-bottom: 16px;
}

footer p {
  /* border: 1px dashed red; */
  color: rgb(99, 108, 116);
  font-size: 14px;
}

@media all and (min-width: 501px) and (max-width: 999px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 750px) {
  .back-to-github {
    display: inline;
  }
}

@media all and (min-width: 1000px) and (max-width: 1249px) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1250px) {
  section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}